---
import './src/styles/global.css'
---
<footer class="bg-gray-200 text-center py-6 text-sm text-gray-600">
    @ 2025 PymeBoost - Todos los derechos reservados
  </footer>
<footer class="bg-stone-800 text-white">
  <div class="max-w-7xl mx-auto px-6 py-12 grid grid-cols-1 md:grid-cols-3 gap-8 items-start">
    
    <div class="flex justify-center md:justify-start">
      <img src="/Header.jpeg" alt="Logo PYMEBOOST" class="rounded-xl w-auto h-auto" />
    </div>

    <div class="text-center md:text-left pl-24">
      <h3 class="text-lg font-semibold mb-3">Empresa</h3>
      <ul class="space-y-2 text-sm font-medium text-zinc-300">
        <li><a href="#">Sobre Nosotros</a></li>
        <li><a href="#">Terminos de Uso</a></li>
        <li><a href="#">Paginas</a></li>
        <li><a href="#">Colaboradores</a></li>
        <li><a href="#">Legal</a></li>
      </ul>
    </div>

    <div class="text-center md:text-left">
      <h3 class="text-lg font-semibold mb-3">Informacion</h3>
      <ul class="space-y-2 text-sm font-medium text-zinc-300">
        <li><a href="#">Noticias y Actualizaciones</a></li>
        <li><a href="#">Paquete de prevencion</a></li>
        <li><a href="#">Politica de privacidad</a></li>
        <li><a href="#">Seguridad</a></li>
        <li><a href="#">PYMEBOOST</a></li>
      </ul>
    </div>
  </div>

  <div class="border-t border-zinc-700 mt-6 pt-6 text-center text-zinc-400 text-xs px-6 pb-12 space-y-2">
    <p>Las especificaciones de los productos pueden estar sujetas a cambios.</p>
    <p>@2025 PYMEBOOST. Todos los derechos reservados. Las marcas comerciales pertenecen a sus respectivos propietarios.</p>
  </div>
</footer>