---
import './src/styles/global.css'
---
<div class="bg-orange-500 w-full h-full text-black pb-20">
    <h1 class="text-center py-12 pt-28 font-extrabold text-5xl text-zinc-900 text-shadow-2xs">Mantente informado e inspirado</h1>
    <p class="text-center pb-5 font-medium text-xl text-zinc-900">Suscribete para recibir mas sugerencias de marketing directamente en tu bandeja de entrada.</p>
    <div class="flex items-center justify-center space-x-28 w-full py-0">

    </div>
    <div class="text-center">
        <h2 class="text-center text-3xl text-black"><button class="bg-stone-800 shadow-2xl hover:bg-gray-100 hover:text-stone-800 transition-colors duration-300 text-lg mt-10 rounded-full w-48 h-14 font-bold text-white"> <a href="/planes">Empieza Ya!</a></button></h2>
    </div>
</div>