---
import './src/styles/global.css'
---

<div class="bg-white w-full h-full pb-14 pt-12 text-center text-zinc-900">
    <h1 class="text-center py-12 pt-32 font-extrabold text-5xl text-zinc-900 w-11/12 pl-28">Asi es como utilizamos las redes sociales para impulsar tu PYME</h1>
    <p class="text-center pb-6 pl-52 pr-52 font-medium text-xl text-zinc-800">Tu propones tu negocio, nosotros lo damos a conocer</p>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto pt-12">

    <div class="bg-white rounded-xl p-6 text-center">
      <img src="/public/speaker.png" alt="Icono reportes" class="mx-auto h-16 mb-4">
      <h3 class="font-semibold text-lg text-zinc-900">Estrategias Personalizadas</h3>
    </div>
    <div class="bg-white rounded-xl p-6 text-center">
      <img src="/statistics.png" alt="Icono bots" class="mx-auto h-16 mb-4">
      <h3 class="font-semibold text-lg text-zinc-900">Metricas en Tiempo Real</h3>
    </div>

    <div class="bg-white rounded-xl p-6 text-center">
      <img src="/target.png" alt="Icono inventarios" class="mx-auto h-16 mb-4">
      <h3 class="font-semibold text-lg text-zinc-900">Segmentacion de Audiencia</h3>
    </div>

    </div>

    <section class="w-full bg-white py-5 px-4">
  <div class="max-w-6xl mx-auto flex flex-col lg:flex-row items-center gap-8 bg-zinc-50 rounded-xl shadow p-6">
    
    <div class="flex-1">
      <div class="bg-white p-6 rounded-lg shadow border border-zinc-200">
        <div class="flex items-start gap-2">
          <p class="text-zinc-800 font-semibold">
            Aumentamos el alcance en un <span class="text-orange-600 font-extrabold">230%</span> para una tienda de ropa en menos de 2 semanas!
          </p>
        </div>
        <p class="text-sm text-zinc-600 mt-2">- Boutique Xpress</p>
        <div class="mt-6 flex gap-4 flex-wrap">
          <a href="/iniciarPlantilla" class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-5 rounded-full transition">Probar una plantilla ahora</a>
          <a href="/servicio" class="bg-white hover:bg-zinc-100 border border-zinc-300 text-zinc-800 font-semibold py-2 px-5 rounded-full transition">Ver como</a>
        </div>
      </div>
    </div>

    <div class="flex-1">
      <img src="/marketin.jpeg" alt="Imagen promocional" class="rounded-xl shadow-lg w-full h-full object-cover">
    </div>
    </div>
    </section>
    <div class="flex items-center justify-center space-x-28 w-full py-0 pb-18">
        <h1 class="text-white border-orange-500 border-b-2 text-center w-9/12"></h1>
    </div>
    </div>