---
import './src/styles/global.css'
---

<section class="bg-white py-16 px-8">
  <h2 class="text-4xl font-bold text-center text-zinc-800 mb-12 pt-20">Servicios</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto">
    
    <div class="bg-white rounded-xl shadow-md p-6 text-center border border-zinc-200">
      <img src="/public/statisctics.png" alt="Icono reportes" class="mx-auto h-24 mb-4">
      <h3 class="font-semibold text-lg text-zinc-900">Automatizacion de reportes</h3>
      <p class="text-zinc-600 text-sm mt-2">Mejora tu analisis con dashboards automaticos.</p>
      <a href="/analisis" class="text-blue-600 font-medium mt-4 inline-block">Ver mas</a>
    </div>

    <div class="bg-white rounded-xl shadow-md p-6 text-center border border-zinc-200">
      <img src="/bot.png" alt="Icono bots" class="mx-auto h-24 mb-4">
      <h3 class="font-semibold text-lg text-zinc-900">Bots para WhatsApp y Email</h3>
      <p class="text-zinc-600 text-sm mt-2">Atiende a tus clientes sin intervencion manual.</p>
      <a href="/bot" class="text-blue-600 font-medium mt-4 inline-block">Ver mas</a>
    </div>

    <div class="bg-white rounded-xl shadow-md p-6 text-center border border-zinc-200">
      <img src="/inventory.png" alt="Icono inventarios" class="mx-auto h-24 mb-4">
      <h3 class="font-semibold text-lg text-zinc-900">Gestion de inventarios</h3>
      <p class="text-zinc-600 text-sm mt-2">Control automatico de stock y alertas.</p>
      <a href="/inventario" class="text-blue-600 font-medium mt-4 inline-block">Ver mas</a>
    </div>

  </div>

    <h2 class="text-4xl font-bold text-center text-zinc-800 mb-8 pt-8">Servicios Integrados</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto">

    <div class="bg-white rounded-xl shadow-md p-6 text-center border border-zinc-200">
      <img src="/captcha.png" alt="Icono flujos" class="mx-auto h-24 mb-4">
      <h3 class="font-semibold text-lg text-zinc-900">Flujos de trabajo</h3>
      <p class="text-zinc-600 text-sm mt-2">Estandariza procesos y tareas repetitivas.</p>
    </div>

    <div class="bg-white rounded-xl shadow-md p-6 text-center border border-zinc-200">
      <img src="/currency.png" alt="Icono facturación" class="mx-auto h-24 mb-4">
      <h3 class="font-semibold text-lg text-zinc-900">Facturacion automatizada</h3>
      <p class="text-zinc-600 text-sm mt-2">Simplifica la emision de facturas y pagos.</p>
    </div>

    <div class="bg-white rounded-xl shadow-md p-6 text-center border border-zinc-200">
      <img src="/crm.png" alt="Icono CRM" class="mx-auto h-24 mb-4">
      <h3 class="font-semibold text-lg text-zinc-900">CRM inteligente</h3>
      <p class="text-zinc-600 text-sm mt-2">Optimiza la gestion de relaciones con clientes.</p>
    </div>

  </div>
</section>
